a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.eyecatch {
  position: relative;
}

.eyecatch-img-container {
  width: 70%;
  margin: 0px 0 0 auto;
}

.eyecatch-img {
  width: 100%;
  height: 100%;
  display: block;
}

.catch-copy {
  position: absolute;
  bottom: 350px;
  font-family: fantasy;
  font-size: 80px;
  color: deeppink;
  line-height: 100px;
}

.catch-copy2 {
  position: absolute;
  bottom: 200px;
  font-size: 40px;
  font-weight: bold;
  color: deeppink;
}

.catch-copy3 {
  position: absolute;
  bottom: 150px;
  color: darkslategray;
  line-height: 24px;
}

.catch-copy span {
  color: darkcyan;
}
.catch-copy2 span {
  color: darkcyan;
}
.news {
  font-size: px;
  color: deeppink;
  font-family: ;
  margin-bottom: 10px;
  margin-left: 100px;
}

.news2 {
  font-size: 30px;
  margin-left: 100px;
}

.news-nav-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 100px;
}

.news-nav-item {
  padding: 20px;
  margin-left: 0px;
  border-bottom: solid 1px slategray;
}

.botton {
  width: 100px;
  height: 30px;
  background: deeppink;
  border-radius: 30px;
  text-align: center;
  margin-bottom: px;
  color: white;
}

.about {
  text-align: center;
  margin: 20px;
}
.main-title {
  text-align: center;
  font-size: 30px;
  height: 50px;
  color: darkgrey;
}
.main-img {
  position: relative;
}

.main-img-container {
  width: 50%;
  height: 20%;
  margin: 0px 0 0 auto;
}

.main-img2 {
  width: 50%;
  height: 20%;
  display: block;
}
.main-about {
  position: absolute;
  bottom: 30px;
  font-size: 13px;
  line-height: 30px;
  margin-left: 200px;
}

.service {
  text-align: center;
  margin: 20px;
  font-size: 10px;
}

.service2 {
  text-align: center;
  font-size: 30px;
  color: darkgrey;
  margin-bottom: 30px;
}
.service-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: ;
}

.service-container {
  background: lightslategrey;
  width: 450px;
  height: 350px;
  margin-left: 200px;
  margin-top: px;
}
.service-img {
  width: 650px;
  height: 350px;
  margin-left: px;
  background: mediumpurple;
}

.img-service {
  width: 200px;
  height: 100px;
}
.service-text {
  background: mediumpurple;
  text-align: center;
}

.sample-text {
  background: mediumpurple;
}

.service-container2 {
  display: flex;
  flex-direction: column;
  background: lime;
  width: 450px;
  height: 250px;
  margin-left: 250px;
  margin-bottom: px;
}
.service-img2 {
  width: 450px;
  height: 125px;
  background: indigo;
}

.img-service2 {
  width: 200px;
  height: 100px;
}
.service-text2 {
  background: indigo;
  text-align: center;
}

.sample-text2 {
  background: indigo;
}

.service-img3 {
  width: 450px;
  height: 125px;
  background: slategray;
  margin-top: 60px;
}

.img-service3 {
  width: 200px;
  height: 100px;
}
.service-text3 {
  background: slategray;
  text-align: center;
}

.sample-text3 {
  background: slategray;
}
