a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.eyecatch {
  position: relative;
}

.eyecatch-img-container {
  width: 70%;
  margin: 0px 0 0 auto;
}

.eyecatch-img {
  width: 100%;
  height: 100%;
  display: block;
}

.catch-copy {
  position: absolute;
  bottom: 40%;
  font-family: fantasy;
  font-size: 80px;
  color: deeppink;
  line-height: 100px;
}

.catch-copy2 {
  position: absolute;
  bottom: 30%;
  font-size: 40px;
  font-weight: bold;
  color: deeppink;
}

.catch-copy3 {
  position: absolute;
  bottom: 20%;
  color: darkslategray;
  line-height: 24px;
}

.catch-copy span {
  color: darkcyan;
}
.catch-copy2 span {
  color: darkcyan;
}
.news {
  font-size: px;
  color: deeppink;
  font-family: ;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-top: 100px;
}

.news2 {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 20px;
  color: slategray;

}

.newsnews {
  line-height: 24px;
  border-bottom: solid 3px slategray;
  border-top: solid 3px slategray;
  padding-top: 30px;
  margin: 100px auto 0;
  padding-bottom: 40px;
  width: 800px;
}
.news-nav-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 0px;
  border-bottom: solid 1px slategrey;
  width: 800px;
}



.news-nav-item {
  padding: 20px;
  width: ;
}

.botton {
  width: 100px;
  height: 30px;
  background: deeppink;
  border-radius: 30px;
  text-align: center;
  margin-bottom: px;
  color: white;
}

.about {
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  color:deeppink;
}
.main-title {
  text-align: center;
  font-size: 30px;
  height: 50px;
  color: slategray;
}
.main-img {
  display: flex;
  flex-direction: row-reverse;
}

.main-img-container {
  width: 50%;
  height: 20%;
  margin: 0px 0 0 auto;
}

.main-img2 {
  width: 50%;
  height: 20%;
  display: block;
}
.main-about {
  font-size: 13px;
  line-height: 30px;
  margin-left: 20%;
  color: slategray;
  background: ;
}

.service {
  margin-left: 250px;
  margin-top: 100px;
  color: deeppink;
  font-size: 15px;
  line-height: 1.5;
}

.service2 {
  margin-left: 250px;
  font-size: 30px;
  color: slategray;
  margin-bottom: 30px;
}

.img-service {
  width: 150px;
  height: 100px;
  margin-top: 30px;
  text-align: center;
}

.img-service2 {
  width: 150px;
  height: 100px;
  margin-top: 30px;
}

.img-service3 {
  width: 150px;
  height: 100px;
  margin-top: 30px;
}

/* コンテナ */
.s-container {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.itemA {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background: darkmagenta;
  text-align: center;
}
.itemB {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: darkorchid;
}
.itemC {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #88f;
}

.service-text {
  text-align: center;
  padding: 20px;
  color: white;
}

.sample-text {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.sample-text2 {
  font-size: 13px;
  margin-bottom: 10px;
  color: white;
}

.sample-text3 {
  font-size: 13px;
  color: white;
  margin-bottom: 10px;
}
.service-text2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
  color: white;
}

.service-text3 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
  color: white;
}

.bb {
  float: left;
}

.cc {
  float: left;
}

.blog {
  color: deeppink;
  margin-top: 100px;
  margin-left: 250px;
}

.blog-ttl {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-left: 250px;
  color: slategray;
}

.flex-item {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}

.card-ttl {
  font-size: 13px;
  line-height: 2;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 200px;
}

.blog-card {
  position: relative;
}

.card-img {
  position: absolute;
  
}

.blogblog {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.t-blog {
  position: absolute;
  top: 0;
  width: 60px;
  height: 30px;
  background:mediumvioletred;
  margin-bottom: 100px;
  font-size: 15px;
  color: white;
  border-top-left-radius: 20px;
  text-align: center;
  line-height: 2;
}

.card-date {
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  font-size: 15px;
  }

.card-tag {
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
}

.card-content {
  color: slategray;
  background: white;
}


.btn {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  border: solid 2px deeppink;
  color: deeppink;
  line-height: 3;
  margin: 100px auto 0;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 300px;
  margin-right: px;
  margin-top: 30px;
  color: slategray;
  text-align: left;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  font-weight: bold;
  background-color: ;
}

.company {
  color: deeppink;
  margin-top: 50px;
  margin-left: 250px;
}

.about-company {
  color: slategray;
  margin-left: 250px;
  font-size: 30px;
  line-height: 2;
}

.img-photo {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 100px auto 0;
}
.recruit {
  display: flex;
}
.recruit-info {
  position: absolute;
  color: white;
  font-size: 30px;
  margin: 11% auto 0;
  width: 50%;
  text-align: center;
  
}

.rec-img {
  width: 50%;
  height: 300px;
}
.interview {
  position: absolute;
  margin-left: 65%;
  margin-top: 11%;
  color: white;
  font-size: 30px;
  ;
}

.int-img {
  width: 50%;
  height: 300px;
}
.q {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  color: slategray;
}

.line {
  border-right: solid 2px deeppink;
  height: 30px;
  margin: 20px auto 0;
  width: 9px;
}

.btn-q {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  border: ;
    background: linear-gradient(#ff34ff, #8646ff);
  line-height: 3;
  color: white;
  box-shadow: 0px 5px 0px darkslateblue;
  margin: 20px auto 0;
}

.copyright{
  text-align: center;
  color:dimgray;
  font-size: 15px;
  margin-top: 5%;
